@import '../../../services.scss';

.user_data {
  padding: 20px;
  @include flexCenter('column');
  gap: 10px;
  width: 100%;
  max-width: 640px;
  background-color: var(--card-block-background-color);
  border-radius: 10px;
}

.option {
  @include flexBetween('row');
  width: 100%;
  font-size: 20px;
  color: var(--text-color-2);
}

.input {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.157);
  color: var(--text-color-2);
  &:focus {
    outline: 3px solid black;
  }
}

.error {
  font-size: 12px;
  color: rgb(200, 0, 0);
  align-self: flex-end;
}
