@import '../../services.scss';

.login_page {
   position: fixed;
  inset: 0 0 0 0;
  @include flexCenter('column');
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  .wrapper {
    @include flexCenter('column');
    gap: 10px;
    background-color: var(--card-block-background-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    h1 {
      font-size: 36px;
      margin-bottom: 24px;
      color: var(--text-color-2);
    }
    input {
      padding-left: 20px;
      height: 50px;
      width: 400px;
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      font-size: 20px;
    }
    button {
      cursor: pointer;
      &[type='submit'] {
        padding: 5px 10px;
      }
      &[aria-labelledby='google'] {
        padding: 5px 6px 0;
        img {
          width: 24px;
        }
      }
      font-size: 24px;
      background-color: white;
      box-shadow: var(--box-shadow);
      border-radius: 5px;
    }
    a {
      color: var(--text-color-2);
    }
  }
}

.login_error {
  color: rgb(203, 0, 0);
  font-size: 16px;
}
