@import '../../services.scss';

.task_card {
  background-color: $card-background-color;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.235);
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 30px;
  grid-template-rows: max-content 1fr 30px;
  
  .card_header {
    width: 100%;
    border-bottom: 2px solid white;
    grid-area: 1 / 1 / 2 / 3;
    &[aria-label='input'] {
      background-color: $card-block-background-color;
    }
  }
  .attached_files {
    position: relative;
    font-size: 16px;
    width: min-content;
    justify-self: flex-end;
    grid-area: 1 / 3 / 2 / 4;
    .file_input_options {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $card-background-color;
      padding: 10px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 400;
      box-shadow: 0px 5px 5px rgb(147, 147, 147);
      p {
        margin-bottom: 5px;
      }
    }
  }
  .card_text {
    font-size: 14px;
    grid-area: 2 / 1 / 4 /-1;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    padding: 5px 0;
    border-radius: 10px;
    &[aria-label='input'] {
      background-color: $card-block-background-color;
    }
  }
  .card_readers {
    grid-area: 4 / 1 / 5 / 2;
  }
  .card_deadline {
    width: max-content;
    font-size: 13px;
    grid-area: 4 / 2 / 5 / 3;
    width: 100%;
    text-align: right;
    margin-top: 2px;
    &.failed {
      color: red;
    }
  }
  .agree_text_change,
  .remove_task {
    grid-area: 4 / 3 / 5 / 4;
    text-align: end;
    color: green;
    margin-top: 3px;
  }
  .remove_task {
    color: rgb(161, 1, 1);
  }

  .input__hidden {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    outline: none;
  }
}
