@import '../../services.scss';

.register_page {
  position: fixed;
  inset: 0 0 0 0;
  @include flexCenter('column');
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  .wrapper {
    padding: 30px;
    @include flexCenter('column');
    gap: 15px;
    border-radius: 10px;
    background-color: var(--card-block-background-color);
    box-shadow: var(--box-shadow);
    h1 {
      margin-bottom: 15px;
      font-size: 36px;
    }
    input {
      padding-left: 20px;
      height: 50px;
      width: 400px;
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      font-size: 20px;
    }
    button {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: white;
      box-shadow: var(--box-shadow);
      font-size: 24px;
    }
    a {
      color: var(--text-color-2);
    }
  }
}

.register_error {
  color: rgb(203, 0, 0);
  font-size: 14px;
}
