@import '../../services.scss';

.overview {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  .loading_wrapper {
    justify-self: center;
    align-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  .loading_message {
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color);
  }
  .tabs {
    display: none;
  }
  .dropArea_prev,
  .dropArea_next {
    z-index: 9990;
    position: absolute;
    top: calc(50% - 40px);
    @include flexCenter('row');
    display: none;
    width: 200px;
    height: 80px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid var(--card-add-background-color);
  }
  .dropArea_prev {
    left: -60px;
    background-color: var(--card-block-background-color);
    transform: rotate(270deg);
  }
  .dropArea_next {
    right: -60px;
    background-color: var(--card-block-background-color);
    transform: rotate(90deg);
  }
}

@media (max-width: 820px) {
  .overview {
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 0;
    .tabs {
      @include flexBetween('row');
      height: 40px;
      .tab {
        cursor: pointer;
        @include flexCenter('row');
        width: 100%;
        height: 100%;
        font-size: 24px;
        border-radius: 0 0 10px 10px;
        background-color: var(--card-block-background-color);
        box-shadow: 0px 5px 0 var(--card-add-background-color);
      }
      button {
        display: none;
        height: 40px;
        width: 40px;
        font-size: 24px;
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 440px) {
  .overview {
    .tabs {
      .arrows {
        @include flexCenter('row');
        min-width: 40px;
        min-height: 40px;
        background-color: var(--card-block-background-color);
        box-shadow: 0px 5px 0 var(--card-add-background-color);

        &:first-of-type {
          border-radius: 5px 0 0 5px;
        }
        &:last-of-type {
          border-radius: 0 5px 5px 0;
        }
        button {
          display: block;
        }
      }
      &[data-tab-group='1'] {
        .tab {
          &:nth-of-type(2) {
            display: flex;
          }
          &:nth-of-type(3) {
            display: none;
          }
          &:nth-of-type(4) {
            display: none;
          }
        }
      }
      &[data-tab-group='2'] {
        .tab {
          &:nth-of-type(2) {
            display: none;
          }
          &:nth-of-type(3) {
            display: flex;
          }
          &:nth-of-type(4) {
            display: none;
          }
        }
      }
      &[data-tab-group='3'] {
        .tab {
          &:nth-of-type(2) {
            display: none;
          }
          &:nth-of-type(3) {
            display: none;
          }
          &:nth-of-type(4) {
            display: flex;
          }
        }
      }
      .tab {
        border-radius: 0;
      }
    }
    .dropArea_prev,
    .dropArea_next {
      display: flex;
    }
  }
}

.dots_bars {
  position: relative;
  margin: auto;
  margin-bottom: 5px;
  width: 40px;
  height: 26px;
  color: var(--text-color);
  --c: linear-gradient(currentColor 0 0);
  background: var(--c) 0 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 8px calc(100% - 4px);
  background-repeat: no-repeat;
}
.dots_bars:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: currentColor;
  animation: db3_1 1.5s linear infinite alternate,
    db3_2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
}

@keyframes db3_1 {
  100% {
    left: calc(100% - 8px);
  }
}

@keyframes db3_2 {
  100% {
    top: -0.1px;
  }
}
