@import '../../services.scss';

.settings {
  @include alignSection();
}
.header {
  margin-bottom: 30px;
  color: var(--text-color);
}

.form {
  @include flexCenter('column');
  gap: 20px;
  width: 100%;
}

.error {
  align-self: flex-end;
  font-size: 12px;
  color: rgb(200, 0, 0);
}

.submit_button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.088);
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-size: 16px;
  cursor: pointer;
  &:active {
    background-color: var(--button-color-active);
    color: var(--button-text-active-color);
  }
}

.button_uploading_animation {
  animation: submitAnimation 2s ease-out infinite;
}

@keyframes submitAnimation {
  0% {
    background-color: var(--button-color);
    color: var(--button-text-color);
  }
  50% {
    background-color: var(--button-color-active);
    color: var(--button-text-active-color);
  }
  100% {
    background-color: var(--button-color);
    color: var(--button-text-color);
  }
}
