@import '../../services.scss';

.settings {

}
.header {
  margin-bottom: 30px;
  color: var(--text-color);
}

.form {
  @include flexCenter('column');
  gap: 20px;
  width: 100%;
}

.user_data,.password_wrapper {
  padding: 20px;
  @include flexCenter('column');
  gap: 10px;
  width: 100%;
  max-width: 640px;
  background-color: var(--card-block-background-color);
  border-radius: 10px;
}

.option {
  @include flexBetween('row');
  width: 100%;
  font-size: 20px;
  color: var(--text-color-2);
}

.input {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.157);
  color: var(--text-color-2);
  font-size: 20px;
  &:focus {
    outline: 3px solid black;
  }
}

.error {
  align-self: flex-end;
  font-size: 14px;
  color: rgb(200, 0, 0);
}

.submit_button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.088);
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-size: 16px;
  cursor: pointer;
  &:active {
    background-color: var(--button-color-active);
    color: var(--button-text-active-color);
  }
}

@media (max-width: 590px) {
  .user_data,.password_wrapper  {
     width: 100%;
     max-width: 400px
  }
  .option {
    @include flexCenter('column');
    width: 100%;
    font-size: 20px;
    color: var(--text-color-2);
  }
  .error {
    width: 100%;
    text-align: center;
  }
}

.button_uploading_animation {
  animation: submitAnimation 2s ease-out infinite;
}

@keyframes submitAnimation {
  0% {
    background-color: var(--button-color);
    color: var(--button-text-color);
  }
  50% {
    background-color: var(--button-color-active);
    color: var(--button-text-active-color);
  }
  100% {
    background-color: var(--button-color);
    color: var(--button-text-color);
  }
}
