@import '../../services.scss';

.header {
  z-index: 9990;
  position: fixed;
  padding: 20px 30px;
  @include flexBetween('row');
  justify-self: flex-end;
  width: calc(100% - 240px);
  min-width: calc(1024px - 240px);
  height: max-content;
  grid-area: header;
  color: var(--text-color);
  background-color: var(--header-color);
  .search_block {
    position: relative;
    .search_icon {
      position: absolute;
      left: 6px;
      top: 8px;
      color: var(--text-color-2);
    }
    .clear_icon {
      position: absolute;
      right: 5px;
      top: 8px;
      color: var(--text-color-2);
    }
    .search_input {
      padding-left: 30px;
      padding-right: 25px;
      height: 30px;
      width: 200px;
      border-radius: 5px;
      border: 1px solid var(--card-add-background-color);
      background-color: var(--card-background-color);
      color: var(--text-color-2);
    }
  }
  .user_block {
    @include flexCenter('row');
    justify-content: end;
    gap: 20px;
    flex: 1;
    .name_and_options {
      position: relative;
      @include flexCenter('column');
      width: max-content;
      h4 {
        width: 100%;
        font-size: 20px;
      }
    }
    .avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
