@import '../../services.scss';

.sidebar {
  z-index: 9991;
  position: fixed;
  padding: 20px 10px 20px 30px;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  width: 100%;
  max-width: 240px;
  height: 100%;
  border-right: 3px solid var(--body-background);
  background-color: var(--background-color);
  .logo {
    font-size: 30px;
    color: var(--text-color);
    span {
      font-size: 16px;
    }
  }
  .switcher {
    display: none;
    position: absolute;
    top: 5px;
    right: -70px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--button-color-active);
    background-color: var(--button-color);
    transition: right 0.3s ease-in-out;
    [data-line='top'] {
      position: absolute;
      top: 7px;
      left: 5px;
      width: 28px;
      height: 4px;
      background-color: var(--button-color-active);
    }
    [data-line='middle'] {
      position: absolute;
      top: calc(50% - 2px);
      left: 5px;
      width: 28px;
      height: 4px;
      background-color: var(--button-color-active);
    }
    [data-line='bottom'] {
      position: absolute;
      bottom: 7px;
      left: 5px;
      width: 28px;
      height: 4px;
      background-color: var(--button-color-active);
    }
  }
  .nav_panel {
    padding: 30px 0;
    flex: 1;
    @include flexBetween('column');
  }
  ul {
    @include flexBetween('column');
    .theme_switcher {
      padding-left: 0;
      .switch {
        position: absolute;
        left: 55px;
        width: 50px;
        height: 25px;
        border: 1px solid var(--text-color);
        border-radius: 20px;
        background-color: var(--body-background);
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          height: 19px;
          width: 19px;
          border-radius: 50%;
          background-color: var(--text-color);
          transform: translateX(2px);
          transition: transform 0.3s;
        }
      }
      .active {
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          height: 19px;
          width: 19px;
          border-radius: 50%;
          background-color: var(--text-color);
          transform: translateX(28px);
          transition: transform 0.3s;
        }
      }
    }

    li {
      position: relative;
      padding-left: 30px;
      font-size: 20px;
      color: var(--text-unactive-color);
      i {
        margin-right: 10px;
      }
      margin: 5px 0;
      a {
        color: currentColor;
        .icon {
          position: absolute;
          left: 0;
          width: 20px;
          height: 20px;
          object-fit: contain;
          background-size: contain;
          background: unset center center no-repeat;
        }
        .home_icon {
          background-image: url(../../assets/icons/home.png);
        }
        .stats_icon {
          background-image: url(../../assets/icons/stats.png);
        }
        .project_icon {
          background-image: url(../../assets/icons/folder.png);
        }
        .chat_icon {
          background-image: url(../../assets/icons/chat.png);
        }
        .calendar_icon {
          background-image: url(../../assets/icons/calendar.png);
        }
        .settings_icon {
          background-image: url(../../assets/icons/settings.png);
        }
        .logout_icon {
          background-image: url(../../assets/icons/logout.png);
        }
      }
      .active {
        color: var(--text-color);
      }
    }
  }
}
[data-theme='dark'] {
  .icon {
    filter: invert(94%) sepia(0%) saturate(4815%) hue-rotate(157deg) brightness(130%) contrast(90%);
  }
}

@media (max-width: 1024px) {
  .sidebar {
    &[data-menu='false'] {
      filter: blur(0);
      transform: translateX(-240px);
      transition: transform 0.3s ease-in-out;
      [data-line='top'] {
        animation: topLineOpen 0.5s linear 1 forwards;
      }
      [data-line='middle'] {
        animation: middleLineOpen 0.5s linear 1 forwards;
      }
      [data-line='bottom'] {
        animation: bottomLineOpen 0.5s linear 1 forwards;
      }
    }
    &[data-menu='true'] {
      filter: blur(0);
      transform: translateX(0px);
      transition: transform 0.3s ease-in-out;
      .switcher {
        right: -50px;
        [data-line='top'] {
          animation: topLineCLose 0.5s linear 1 forwards;
        }
        [data-line='middle'] {
          animation: middleLineCLose 0.5s linear 1 forwards;
        }
        [data-line='bottom'] {
          animation: bottomLineCLose 0.5s linear 1 forwards;
        }
      }
    }
    .switcher {
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    &[data-menu='false'] {
      .switcher {
        right: -55px;
      }
    }
  }
}

@keyframes topLineCLose {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}
@keyframes middleLineCLose {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bottomLineCLose {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px) rotate(-45deg);
  }
}
@keyframes topLineOpen {
  0% {
    transform: translateY(10px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes middleLineOpen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bottomLineOpen {
  0% {
    transform: translateY(-10px) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}
