@import "./services.scss";

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Philosopher', sans-serif;
 
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

#root {
  height: 100%;
  width: 100%;  
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

i {
  cursor: pointer;
}
